analysis-oakland-2014-10-27/acs/*.txt
analysis-oakland-2014-10-27/2768/*.shp
analysis-oakland-2014-10-27/2768/*.shx
analysis-oakland-2014-10-27/2768/*.dbf
analysis-oakland-2014-10-27/2768/*.prj
analysis-oakland-2014-10-27/*.shp
analysis-oakland-2014-10-27/*.shx
analysis-oakland-2014-10-27/*.dbf
analysis-oakland-2014-10-27/*.prj

node_modules/
coverage/
