.container {
    display: flex;
    height: 500px;
}
.container div {
    flex: 1;
}
.button {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 85%;
    border: 1px solid #fefefe;
    background-color: #E6E6E6;
    text-decoration: none;
    padding: .5em 1em;
}
.button.active {
    background: #fff;
    color: #000;
}

.button-greens {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-ylorbr {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-blues {
    background: rgb(66, 184, 221); /* this is a light blue */
}

